body {
    font-family: Roboto, sans-serif;
    background: #76b852;
}

#HomeBody {
    font-family: Roboto, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
}

#FeaturesHeader {
    color: white;
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0;

}

.features {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    color: #0D5841;
    font-size: 36px;
    margin: 60px auto;
    text-align: center;
}

li {
    height: 70px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
}

#PyCamPicture {
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: -50px;
}

a {
    text-decoration: none;
    color: black;
}

#Home {
    color: white;
    text-transform: uppercase;
    font-size: 58px;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

nav {
    background-color: #EBF8BC;
    opacity: 1;
    border-radius: 10px;
    height: 70px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.dropdownItems {
    width: 121px;
    padding: 0;
    background-color: white;
    color: #4CAF50;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    display: inline-block;
    padding: 24px;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    background-color: #0D5841;
    color: white;
}

#LogInForm {
    background: #FFFFFF;
    max-width: 360px;
    width: 360px;
    margin: auto;
    margin-top: 8%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.Forms{
        background: #FFFFFF;
    max-width: 360px;
    width: 360px;
    margin: auto;
    margin-top: 8%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input, textarea {
    max-width: 360px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
}

textarea {
    height: 150px;
}

form input[type=submit] {
    text-transform: uppercase;
    outline: 0;
    background-color: #4CAF50;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

form input[type=submit]:hover {
    background-color: #0D5841;
}
.flexboxButtons{
    height: 300px;
    margin:auto;
}
.HistoryButtons{
    position:relative;
    display:block;
    text-transform: uppercase;
    outline: 0;
    background-color: #0D5841;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom:20px;
}
#HistoryForm{
    background: #FFFFFF;
    max-width: 360px;
    width: 360px;
    margin: auto;
    margin-top: 8%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.HistoryButtons:hover {
    background-color: #0D5841;
}

.WrongInput {
    color: darkred;
}

.SuccesFulInput {
    color: #4CAF50;
}

.flexboxLogin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 300px;
    margin: auto;
    margin-top: 3%;
}

.flexboxWeather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 800px;
    height: 600px;
    margin: auto;
}

.flexboxHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 700px;
    margin: auto;
}
.pHome {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    font-size: 36px;
    margin: 80px auto;
    text-align: center;
}
.pWeather {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;
}

#pTijd, #pTemperatuur, #pLuchtvochtigheid, #pNeerslag, #pWindsnelheid {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    margin: 100px auto;
    text-align: center;
    font-size: 20px;
}

.hexagon {
    width: 200px;
    height: 230px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
}

.hexagonHome {
    width: 200px;
    height: 230px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    margin-left: 30px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    visibility: visible;
    transform: rotate(-60deg);
    background: white;
}

.hexagonHome .hexagon-in2 {
    background: white;
}

.hexagonHome .hexagon-in2:hover {
    background: cornsilk;
}

.hexagon-in2:hover {
    background: cornsilk;
}

.flexboxCharts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
}

.charts {
    width: 100%;
    margin-bottom: 200px;
}

.active {
    border-bottom: 3px solid #0D5841;
}