<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styleSheet.css">
    <meta charset="UTF-8">
    <title>WeatherStation -
        {% block title %}
        {% endblock %} </title>
</head>
<body>
<nav>
        <ul>
            <li><a href="{{ url_for('Home') }}">Home</a></li>
            <li><a href="{{ url_for('TheWeather') }}">Weather</a></li>
            <li><a href="{{ url_for('History') }}">History</a></li>
            <li><a href="{{ url_for('Contact') }}">Contact</a></li>
        </ul>
</nav>
{% block body %}

{% endblock %}
</body>
</html>