{% extends "Base.html" %}
{% block nav_Contact %}active{% endblock %}
{% block title %}
    Contact
{% endblock %}
{% block body %}
    <h1>Contact</h1>
    <div class="Forms" id="Contact">
        <form action="" method="post" id="ContactForm">
            <input type="text" placeholder="SUBJECT" name="Subject">
            <textarea name="Message" placeholder="MESSAGE"></textarea>
            <input type="submit" value="SEND" name="submit">
            <p class="WrongInput">{{ error }}</p>
            <p class="SuccesFulInput">{{ succesful }}</p>
        </form>
    </div>
{% endblock %}