{% extends "Base.html" %}
{% block title %}
    Weather
{% endblock %}
{% block body %}
    <h1>Weather</h1>
    <div class="flexboxWeather">

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">
                </div>
            </div>
            <p class="pWeather">Temperatuur</p>
            <p id="pTemperatuur">placeholder</p>
        </div>


        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">
                </div>
            </div>
            <p class="pWeather">Datum/tijd</p>
            <p id="pTijd">{{ currentTime }}</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Windsnelheid</p>
            <p id="pWindsnelheid">placeholder</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Luchtvochtigheid</p>
            <p id="pLuchtvochtigheid">placeholder</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Neerslag</p>
            <p id="pNeerslag">placeholder</p>
        </div>

        {#        <div class="hexagon">#}
        {#            <p>Temperatuur</p>#}
        {#            <p id="pTemperatuur">placeholder</p>#}
        {#        </div>#}
        {#        <div class="hexagon">#}
        {#            <p>Datum/tijd</p>#}
        {#            <p id="pTijd">{{ currentTime }}</p>#}
        {#        </div>#}
        {#        <div class="hexagon">#}
        {#            <p>Windsnelheid</p>#}
        {#            <p id="pWindsnelheid">placeholder</p>#}
        {#        </div>#}
        {#        <div class="hexagon">#}
        {#            <p>Luchtvochtigheid</p>#}
        {#            <p id="pLuchtvochtigheid">placeholder</p>#}
        {#        </div>#}
        {#        <div class="hexagon">#}
        {#            <p>Neerslag</p>#}
        {#            <p id="pNeerslag">placeholder</p>#}

        {#    </div>#}
    </div>
    <figure>
        <img src="{{ url_for('static',filename="images/Picam.jpg") }}" alt="PyCamPicture" id="PyCamPicture">
    </figure>
    <script src="../static/javascript/updateHTML.js"></script>
{% endblock %}