{% extends "Base.html" %}
{% block title %}
    Weather
{% endblock %}
{% block body %}
    <h1>Weather</h1>
    <div class="flexboxWeather">

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">
                </div>
            </div>
            <p class="pWeather">Temperatuur</p>
            <p id="pTemperatuur">{{ SensorInfo[0] }}</p>
        </div>


        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">
                </div>
            </div>
            <p class="pWeather">Datum/tijd</p>
            <p id="pTijd">{{ currentTime }}</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Windsnelheid</p>
            <p id="pWindsnelheid">{{ SensorInfo[1] }}</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Luchtvochtigheid</p>
            <p id="pLuchtvochtigheid">{{ SensorInfo[2] }}</p>
        </div>

        <div class="hexagon">
            <div class="hexagon-in1">
                <div class="hexagon-in2">

                </div>
            </div>
            <p class="pWeather">Neerslag</p>
            <p id="pNeerslag">{{ SensorInfo[3] }}</p>
        </div>
    </div>

    <figure>
        <img src="{{ url_for('static',filename="images/Picam.jpg") }}" alt="PyCamPicture" id="PyCamPicture">
    </figure>
    <script src="../static/javascript/updateHTML.js"></script>
{% endblock %}